@import "./utils/variables";
@import "./base/normalize";
@import "./components/body";
@import "./components/container";
@import "./components/common/logo";
@import "./components/common/buttons";
@import "./components/common/socialmedial-links";
@import "./components/common/section";
@import "./components/header/header-section";
@import "./components/header/header-components/navigation";
@import "./components/header/header-components/contact";
@import "./components/portfolio/project-buttons-list";
@import "./components/portfolio/projects";
@import "./components/footer/footer-section";
@import "./components/footer/footer-components/addresses";
@import "./components/footer/footer-components/subscribe";
@import "./components/footer/footer-components/footer-form";
