.addresses__link--color {
  color: #fff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $blue;
  }
}

.addresses__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.addresses__link {
  color: $light-grey;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $blue;
  }
}
