.subscribe {
  margin-left: 70px;
}

.footer-tittle {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__socialmedia-link {
  background-color: #43444d;
  color: white;
}
