.form-header {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-feild {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-feild__label {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $light-grey;
  margin-bottom: 4px;
}

.form-feild__input-parts {
  position: relative;
}

.form-feild__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $blue;
  }
}

.form-feild__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  fill: black;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .form-feild__input:focus ~ & {
    fill: $blue;
  }
}

.form-feild__textarea {
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border: 1px solid $blue;
  }
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy__label {
  display: flex;
  align-items: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $light-grey;
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid $black;
  transition-property: background-color, border, background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .policy__checkbox:checked + & {
    background-color: $blue;
    border: 2px solid $blue;
    background-image: url(../images/svg-icons/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.policy__agreement {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: $blue;
  margin-left: 6px;
}

.form-feild-button {
  display: flex;
  justify-content: center;
}
