.our-value__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.our-value__item {
  width: 450px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.our-value__container-for-icon {
  background-color: $very-light-grey;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-value__icon {
  width: 70px;
  height: 70px;
}

.our-value__header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.our-value__descriptions {
  color: $light-grey;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
