.our-team {
  background-color: $very-light-grey;
}

.our-team__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.our-team__card {
  width: 100%;

  background-color: $white;
  border-radius: 0px 0px 4px 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.our-team__photo {
  margin-bottom: 30px;
}

.our-team__member {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team__text {
  color: $light-grey;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.171;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.our-team__socialmedia {
  justify-content: center;
  padding-bottom: 30px;
}
