.what-we-do {
  padding-bottom: 94px;
}

.page-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.what-we-do__list {
  display: flex;
}

.what-we-do__item + .what-we-do__item {
  margin-left: 30px;
}

.what-we-do__item {
  position: relative;
}

.what-we-do__overlay-img {
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 3px;
  background: rgba(47, 48, 58, 0.8);
}

.what-we-do__overlay-text {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
