.main-logo {
  display: block;
  font-family: $logo-font;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.173;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-logo__first-part {
  color: $blue;
}
.footer__main-logo {
  color: $white;
}
