.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contact__item + .contact__item {
  @media screen and (max-width: 1200px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.contact__links {
  color: $light-grey;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: block;
  display: inline-flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $blue;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icons {
  fill: currentColor;
  margin-right: 10px;
}
