.footer {
  background-color: $grey;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__parts {
  @media screen and (max-width: 1200px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.main-logo__footer {
  margin-bottom: 20px;
  color: $white;
}

.addresses {
  margin-bottom: 60px;
}
.subscribe {
  margin-bottom: 60px;
}

.container--tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
