.header-section {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-logo__header {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
