$blue: #2196f3;
$black: #212121;
$light-grey: #757575;
$very-light-grey: #f5f4fa;
$grey: #2f303a;
$white: #fff;
$main-button-hover-color: #188ce8;
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
